.Hero1Container{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.HeroCaption{
    display: flex;
    flex-direction: column;
    gap: 2em
}
.imgHero1{
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 768px){
    .carousel.slide > div.carousel-indicators{
        display: none;
    }
}




